body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

section {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ccc;
}

footer {
  background-color: #eb984e;
  color: #333;
  text-align: center;
  padding: 10px;
}

section ul {
  list-style-type: none;
  padding: 0;
}

section ul li {
  margin: 5px 0;
}

section ul li a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

section ul li a:hover {
  text-decoration: underline;
}

#neet,
#iit-jee,
#clat {
  background-color: #ffeee0;
}
